* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0px;
}

header {
    height: 250px;
    background-color: aqua;
}

nav {
    height: 50%;
    margin-left: 50%;
    margin-top: -30px;
}

.general {
    height: 60px;
    background-color: black;
}

section {
    display: flex;
    background-color: aqua;
    margin: 10px 0px;
    padding: 50px 0px;
}

article {
    height: 250px;
    background-color: #2ebc59;
}

#principal article {
    margin: auto;
    width: 30%;
    padding: 20px;
}

.contenedor {
    display: flex;
}

#secundario {
    background-color: #2ea9bc;
    width: 70%;
    height: 300px;
    margin: 10px auto;
    padding: 50px 0px;
}

aside {
    width: 30%;
    margin: 10px auto;
    margin-left: 20px;
    padding: 50px 0px;
    background-color: #2ebc59;
}

footer {
    margin: 10px auto;
    padding: 30px 0px;
    background-color: #2ea9bc;
}